body {
	font-family: 'Noto Sans TC' , sans-serif;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Noto Sans TC' , sans-serif;
}
.subheading {
    font-family: 'Noto Sans TC' , sans-serif;
}
body {
	text-transform: none;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    text-transform: none; 
}
.subheading {
    text-transform: none;
}
.bg-primary {
	 background-color: #009D91!important;
	 background-image: url(../assets/img/old-mathematics.png);
}
.text-primary {
	color: #009D91!important;
}
a {
	color: #009D91;
}
h1,.h1 { 
   font-size: 6rem;
}
.social-icons .social-icon:last-child {
    margin-right: 0;
    position: relative;
    bottom: 5.5px;
}
body {
    background-image: url(../assets/img/picoo.gif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: contain;
}
.list-group-item {
	background-color: none
}